**/node_modules
**/.output
**/.turbo
**/dist
.git
**/env.local
**/env.prod
**/.env*
directory/apps/web/public/*
!directory/apps/web/public/badge.svg
!directory/apps/web/public/thumb-fallback.svg
directory/apps/web/src/static-assets.gen.json
directory/apps/web/src/paraglide
